
body {
  background-color: #330000;
  width: 100%;
  margin: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  background-color: #ffe066;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

#nav-logo {
  height: 40px;
  width: 40px;
  float: left;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  color: #444;
  display: inline-block;
  margin-left: 70px;
  margin-right: 20px;
  padding-top: 12px;
  position: relative;
}

nav a {
  color: #664b00;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
}

nav a:hover {
  color: #898989;
}

nav li a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #000;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav li a:hover::before {
  width: 100%;
}


#banner {
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
}

hr {
  width: 70%;
  margin-bottom: 20px;
}

#logo {
  display: inline;
  height: 300px;
  width: 300px;
}

#banner-h1 {
  font-family: 'Crimson Text', serif;
  display: inline;
  position: relative;
  bottom: 130px;
  font-size: 40px;
}

#soc-media{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.social-media {
  height: 40px;
  width: 40px;
  margin-left: 30px;
}

.mini-gal {
  display: inline;
  height: 290px;
  width: 320px;
  margin-left: 10px;
}

#about {
  color: #ffd699;
  width: 50%;
  font-size: 30px;
  margin-right: 20px;
  float: right;
}

#about h1 {
  text-align: center;
}

#services {
  color: #ffd699;
  font-size: 30px;
  text-align: center;
}

#col-1 {
  color: #ffd699;
  text-align: left;
  width: 45%;
  font-size: 30px;
  margin-right: 20px;
  margin-left: 70px;
  float: left;
  line-height: 2;
}

#col-2 {
  color: #ffd699;
  text-align: left;
  width: 45%;
  font-size: 30px;
  margin-right: 20px;
  float: right;
  line-height: 2;
}

#services h1 {
  text-align: center;
}

#hours {
  color: #ffd699;
  font-size: 30px;
  text-align: center;
}

#contact {
  color: #ffd699;
  font-size: 30px;
  text-align: center;
}

#hr-footer {
  width: 95%;
}

footer {
  text-align: center;
  font-size: 20px;
  color: #ffd699;
}

#copyright {
  text-align: center;
}
